import BaseHead from '../components/BaseHead.astro';
import AboutMeContent from '../components/about/AboutMeContent.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About Me" description="About me incubator section" />
	</head>
	<body>
		<main>
			<AboutMeContent />
		</main>
	</body>
</html>
